<div class="row">
  <div class="col-md-12">
    <div class="copyright">
      <p>
        Copyright © 2018. All rights reserved. Template by
        <a href="https://tacaocanh.000webhostapp.com/">Ta Cao Canh</a>.
      </p>
    </div>
  </div>
</div>
