nav ul li a {
  color: white;
  font-weight: bolder;
  cursor: pointer;
  font-size: 17px;
}
nav ul li a:hover {
  color: #ffc107;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #ffc107;
}
